/* FONTS
font-family: 'Heebo', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Heebo", sans-serif;
}

.Weather {
  background-color: #e0e0e0;
  font-family: var(--primary-font-family);
  font-size: 22px;
  max-width: 950px;
}

@media (max-width: 576px) {
  .main-weather-icon canvas {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
  }
}
