/* FONTS
font-family: 'Heebo', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Heebo", sans-serif;
}

.Weather {
  background-color: #e0e0e0;
  font-family: var(--primary-font-family);
  font-size: 22px;
  max-width: 950px;
}

@media (max-width: 500px) {
  .App {
    display: flex;
    width: 100%;
  }
}
