.Weather {
  margin: 0;
  max-width: 100%;
}

.Weather a {
  margin: 20px;
}

.Weather .city-name {
  font-family: var(--secondary-font-family);
  font-size: 70px;
  margin: 0;
}

.Weather .temperature {
  font-size: 95px;
}

.Weather .fahrenheit {
  font-size: 25px;
  position: relative;
  top: -51px;
}

.Weather .vertical-line {
  height: 200px;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 350px;
  margin-left: 100px;
}
