.Weather {
  margin: 0;
  max-width: 100%;
}

.Weather .search-bar {
  width: auto;
}

.Weather form {
  display: flex;
}

.Weather a {
  margin: 20px;
}

.Weather .city-name {
  font-family: var(--secondary-font-family);
  font-size: 70px;
  margin: 0;
}

.Weather .temperature {
  font-size: 95px;
}

.Weather .fahrenheit {
  font-size: 25px;
  position: relative;
  top: -51px;
}

.Weather .vertical-line {
  height: 200px;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 350px;
  margin-left: 250px;
}

@media (max-width: 775px) {
  .WeatherInfo .vr {
    display: none;
  }

  .WeatherInfo .main-weather-icon {
    display: none;
  }

  .Weather .city-name {
    font-size: 50px;
    text-align: center;
  }

  .Weather .current-date-time {
    font-size: 15px;
    text-align: center;
  }

  .Weather .search-button {
    display: inline-block;
    text-align: center;
  }

  .WeatherInfo .container-2 {
    padding: 0;
    margin-top: 0;
    font-size: 20px;
  }

  .Weather form {
    display: block;
    text-align: center;
  }
}
